@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}

.card-loading-border i {
  content: '';
  position: absolute;
  top: 1px;
  right: 1px;
  bottom: 1px;
  left: 1px;
  padding: 4px;
  z-index: -1;
  border-radius: calc(16px);
}

.card-loading-border i:before {
  --start: theme(colors.teal.200);
  --end: theme(colors.blue.400);
  content: '';
  display: block;
  background: conic-gradient(
    from 180deg at 50% 50%,
    var(--start) 0deg,
    var(--end) 228.75deg,
    rgba(42, 138, 246, 0) 360deg
  );
  box-shadow: 0 0 40px 20px
    --conic-gradient(
      from 180deg at 50% 50%,
      var(--start) 0deg,
      var(--end) 228.75deg,
      rgba(42, 138, 246, 0) 360deg
    );
  width: calc(100% * 1.41421356237);
  padding-bottom: calc(100% * 1.41421356237);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 100%;
  z-index: -2;
  animation: landing_spin 5s linear infinite;
}

@keyframes landing_spin {
  0% {
    transform: translate(-50%, -50%) rotate(1turn);
  }

  to {
    transform: translate(-50%, -50%) rotate(0);
  }
}

.hello-worldle-background_container {
  position: absolute;
  z-index: -10;
  overflow: hidden;
  inset: 0;
  transition: perspective 3s ease 0s;
}

.hello-worldle-background_lines {
  --right: theme(colors.teal.200);
  --left: theme(colors.blue.400);
  position: fixed;
  width: 200vw;
  margin-left: -50%;
  transform: translateY(0);
  background-image: linear-gradient(
    to right,
    var(--left) 45%,
    var(--right) 55%
  );
  -webkit-mask-image: linear-gradient(90deg, #000 2px, transparent 0),
    linear-gradient(180deg, #000 2px, transparent 0);
  mask-image: linear-gradient(90deg, #000 2px, transparent 0),
    linear-gradient(180deg, #000 2px, transparent 0);
  -webkit-mask-size: 60px 60px;
  mask-size: 60px 60px;
  overflow: hidden;
  -webkit-mask-repeat: repeat;
  mask-repeat: repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  inset: -100% 0;
  background-position-y: 100%;
  -webkit-mask-position: 50% 0;
  mask-position: 50% 0;
  animation: hello-worldle-background_go-up 60s linear infinite;
}

@media (min-width: 1024px) {
  .hello-worldle-background_lines {
    animation-duration: 30s;
    -webkit-mask-size: 80px 80px;
    mask-size: 80px 80px;
  }
}

@keyframes hello-worldle-background_go-up {
  0% {
    transform: translateY(0);
  }

  to {
    transform: translateY(calc(50% + 28px));
  }
}
