@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.hello-worldle-background_container {
  position: absolute;
  z-index: -10;
  overflow: hidden;
  inset: 0;
  transition: perspective 3s ease 0s;
}

.hello-worldle-background_lines {
  --right: theme(colors.teal.200);
  --left: theme(colors.blue.400);
  position: fixed;
  width: 200vw;
  margin-left: -50%;
  transform: translateY(0);
  background-image: linear-gradient(
    to right,
    var(--left) 45%,
    var(--right) 55%
  );
  -webkit-mask-image: linear-gradient(90deg, #000 2px, transparent 0),
    linear-gradient(180deg, #000 2px, transparent 0);
  mask-image: linear-gradient(90deg, #000 2px, transparent 0),
    linear-gradient(180deg, #000 2px, transparent 0);
  -webkit-mask-size: 60px 60px;
  mask-size: 60px 60px;
  overflow: hidden;
  -webkit-mask-repeat: repeat;
  mask-repeat: repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  inset: -100% 0;
  background-position-y: 100%;
  -webkit-mask-position: 50% 0;
  mask-position: 50% 0;
  animation: hello-worldle-background_go-up 60s linear infinite;
}

@media (min-width: 1024px) {
  .hello-worldle-background_lines {
    animation-duration: 30s;
    -webkit-mask-size: 80px 80px;
    mask-size: 80px 80px;
  }
}

@keyframes hello-worldle-background_go-up {
  0% {
    transform: translateY(0);
  }

  to {
    transform: translateY(calc(50% + 28px));
  }
}
